<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h1>Our Team</h1>
 <ul>
   <li>Team Name: <%= @team_name %></li>
   <li>Coach: <%= @coach %></li>
   <li>Point Guard: <%= @pg %></li>
   <li>Shooting Guard: <%= @sg %></li>
   <li>Power Forward: <%= @pf %></li>
   <li>Small Forward: <%= @sf %></li>
   <li>Center: <%= @c %></li>
 </ul>


 </body>
</html>
