<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h1>Team Name: <%= @submission[:name] %></h1>
 <h2>Coach: <%= @submission[:coach] %></h2>
<h2>Point Guard: <%= @submission[:pg] %></h2>
<h2>Shooting Guard: <%= @submission[:sg] %></h2>
<h2>Power Forward: <%= @submission[:pf] %></h2>
<h2>Small Foward: <%= @submission[:sf] %></h2>
<h2>Center: <%= @submission[:c] %></h2>

 </body>
</html>


